In [1]:
# !pip install ipykernel # run in kernal

In [5]:
# !conda install -n base ipykernel --update-deps --force-reinstall
!pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in /usr/local/conda/lib/python3.9/site-packages (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/conda/lib/python3.9/site-packages (from requests) (1.26.13)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/conda/lib/python3.9/site-packages (from requests) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/conda/lib/python3.9/site-packages (from requests) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/conda/lib/python3.9/site-packages (from requests) (2.0.4)

In [6]:
import json
import os,sys
import requests

In [7]:
api_key = '6YKJO21SVQDCYFHF'
stock="TATAMOTORS"
url =f"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={stock}.BSE&outputsize=full&apikey={api_key}"

# url = ''
headers = {'Authorization': 'Bearer ' + api_key}
response = requests.get(url, headers=headers)
# print(response.json())

In [8]:
import pandas as pd

# assuming `response` is the JSON response from the API
data = response.json()

# Convert the JSON data to a DataFrame
df = pd.DataFrame(data)
df

,Meta Data,Time Series (Daily)
1. Information,Daily Time Series with Splits and Dividend Events,NaN
2. Symbol,TATAMOTORS.BSE,NaN
3. Last Refreshed,2023-01-30,NaN
4. Output Size,Full size,NaN
5. Time Zone,US/Eastern,NaN
...,...,...
2005-01-07,NaN,"{'1. open': '472.382', '2. high': '477.077', '..."
2005-01-06,NaN,"{'1. open': '483.88', '2. high': '488.192', '3..."
2005-01-05,NaN,"{'1. open': '493.462', '2. high': '498.253', '..."
2005-01-04,NaN,"{'1. open': '499.5465', '2. high': '504.002', ..."
2005-01-03,NaN,"{'1. open': '488.4315', '2. high': '501.1275',..."